In [1]:
import geopandas
import pandas

## Prague

In [2]:
buildings = geopandas.read_file("../epb/geometry.gpkg", layer="buildings")
labels = pandas.read_csv("../epb/prg_cluster_labels_10.csv", index_col=0)

/opt/conda/lib/python3.8/site-packages/geopandas/geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

In [3]:
buildings

           uID                                           geometry
0            0  POLYGON ((-749844.585 -1052277.805, -749844.41...
1            1  POLYGON ((-744449.580 -1042702.590, -744447.15...
2            2  POLYGON ((-733304.060 -1048133.180, -733299.93...
3            3  POLYGON ((-742471.510 -1039697.120, -742472.27...
4            4  POLYGON ((-740088.940 -1043853.950, -740089.10...
...        ...                                                ...
140403  140457  POLYGON ((-742306.210 -1043656.250, -742334.11...
140404  140458  POLYGON ((-745118.150 -1036872.010, -745120.66...
140405  140459  POLYGON ((-741493.720 -1045901.360, -741493.82...
140406  140460  POLYGON ((-741505.020 -1045901.010, -741505.41...
140407  140461  POLYGON ((-752155.560 -1045248.230, -752191.00...

[140408 rows x 2 columns]

In [4]:
labels

        cluster     uID
0             0       0
1             7       1
2             5       2
3             5       3
4             3       4
...         ...     ...
140310        7  140457
140311        5  140458
140312        6  140459
140313        6  140460
140314        2  140461

[140315 rows x 2 columns]

In [5]:
buildings = buildings.merge(labels, on="uID", how="inner")

In [9]:
buildings = buildings.to_crs(4326)
buildings[["cluster", "geometry"]].to_file("prg.geojson", driver="GeoJSON")

In [15]:
!tippecanoe -z15 \
           --no-tile-compression \
           --output-to-directory=prg/ \
           --drop-densest-as-needed \
           -f \
           prg.geojson

For layer 0, using name "prg"
140315 features, 9392680 bytes of geometry, 16 bytes of separate metadata, 39 bytes of string pool
tile 9/276/173 size is 1020235 with detail 12, >500000
Going to try keeping the sparsest 44.11% of the features to make it fit
tile 9/276/173 size is 766376 with detail 12, >500000
Going to try keeping the sparsest 25.90% of the features to make it fit
tile 9/276/173 size is 554066 with detail 12, >500000
Going to try keeping the sparsest 21.03% of the features to make it fit
tile 10/552/346 size is 526265 with detail 12, >500000
Going to try keeping the sparsest 85.51% of the features to make it fit
tile 10/553/347 size is 755370 with detail 12, >500000
Going to try keeping the sparsest 59.57% of the features to make it fit
tile 10/553/346 size is 1158156 with detail 12, >500000
Going to try keeping the sparsest 38.85% of the features to make it fit
tile 10/553/347 size is 516274 with detail 12, >500000
Going to try keeping the sparsest 51.93% of the features to make it fit
tile 10/553/346 size is 533649 with detail 12, >500000
Going to try keeping the sparsest 32.76% of the features to make it fit
tile 11/1105/693 size is 636644 with detail 12, >500000
Going to try keeping the sparsest 70.68% of the features to make it fit
tile 11/1105/694 size is 567706 with detail 12, >500000
Going to try keeping the sparsest 79.27% of the features to make it fit
tile 11/1106/694 size is 865430 with detail 12, >500000
Going to try keeping the sparsest 52.00% of the features to make it fit
tile 11/1106/693 size is 1230681 with detail 12, >500000
Going to try keeping the sparsest 36.57% of the features to make it fit
tile 12/2212/1388 size is 519787 with detail 12, >500000
Going to try keeping the sparsest 86.57% of the features to make it fit
tile 12/2212/1387 size is 646016 with detail 12, >500000
Going to try keeping the sparsest 69.66% of the features to make it fit
  99.9%  15/17697/11098

## Amsterdam

In [16]:
buildings = geopandas.read_file("../epb/geometry_ams.gpkg", layer="buildings")
labels = pandas.read_csv("../epb/ams_cluster_labels_10.csv", index_col=0)

/opt/conda/lib/python3.8/site-packages/geopandas/geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

In [17]:
buildings

,uID,bID,nID,nodeID,geometry
0,0,0.0,35435.0,13440.0,"POLYGON Z ((130331.253 483337.251 0.000, 13033..."
1,1,0.0,35435.0,13440.0,"POLYGON Z ((130374.022 483428.300 0.000, 13038..."
2,2,1.0,8112.0,10037.0,"POLYGON Z ((124352.680 476826.680 0.000, 12432..."
3,3,2.0,8112.0,10037.0,"POLYGON Z ((123803.120 476872.458 0.000, 12379..."
4,4,1.0,8112.0,10037.0,"POLYGON Z ((124354.600 476868.600 0.000, 12434..."
...,...,...,...,...,...
252380,252571,4099.0,6076.0,8462.0,"POLYGON Z ((123168.118 490375.432 0.000, 12316..."
252381,252572,5424.0,25037.0,9770.0,"POLYGON Z ((123096.733 490259.270 0.000, 12309..."
252382,252573,5423.0,21501.0,21867.0,"POLYGON Z ((123054.897 490248.150 0.000, 12304..."
252383,252574,5424.0,25037.0,23131.0,"POLYGON Z ((123097.931 490240.936 0.000, 12309..."
252384,252575,5424.0,21501.0,21867.0,"POLYGON Z ((123073.540 490243.270 0.000, 12306..."

In [18]:
labels

        cluster    uID
0             2      0
1             2      1
2             2      2
3             2      3
4             2      4
...         ...    ...
252380        5  19452
252381        5  19453
252382        5  19454
252383        5  19455
252384        5  19457

[252385 rows x 2 columns]

In [19]:
buildings = buildings.merge(labels, on="uID", how="inner")

In [20]:
buildings = buildings.to_crs(4326)
buildings[["cluster", "geometry"]].to_file("ams.geojson", driver="GeoJSON")

In [23]:
!tippecanoe -z15 \
           --no-tile-compression \
           --output-to-directory=ams/ \
           -f \
           ams.geojson

For layer 0, using name "ams"
252385 features, 11580914 bytes of geometry, 16 bytes of separate metadata, 39 bytes of string pool
tile 9/262/168 size is 913640 with detail 12, >500000
tile 10/526/336 size is 617412 with detail 12, >500000
tile 10/525/336 size is 2384333 with detail 12, >500000
tile 10/525/336 size is 815163 with detail 11, >500000
tile 11/1052/673 size is 997237 with detail 12, >500000
tile 11/1052/673 size is 540572 with detail 11, >500000
tile 11/1051/672 size is 1798651 with detail 12, >500000
tile 11/1051/673 size is 2455940 with detail 12, >500000
tile 11/1051/672 size is 951050 with detail 11, >500000
tile 11/1051/673 size is 1433835 with detail 11, >500000
tile 12/2102/1346 size is 563806 with detail 12, >500000
tile 12/2104/1346 size is 574391 with detail 12, >500000
tile 12/2103/1345 size is 575542 with detail 12, >500000
tile 12/2103/1347 size is 556770 with detail 12, >500000
tile 12/2102/1344 size is 690772 with detail 12, >500000
tile 12/2102/1346 size is 533265 with detail 11, >500000
tile 12/2104/1346 size is 545466 with detail 11, >500000
tile 12/2103/1345 size is 547023 with detail 11, >500000
tile 12/2103/1347 size is 524292 with detail 11, >500000
tile 12/2102/1344 size is 643045 with detail 11, >500000
tile 12/2103/1346 size is 1163943 with detail 12, >500000
tile 12/2103/1346 size is 1095669 with detail 11, >500000
tile 12/2103/1346 size is 705714 with detail 10, >500000
tile 13/4207/2692 size is 537156 with detail 12, >500000
tile 13/4207/2692 size is 501063 with detail 11, >500000
  99.9%  15/16830/10772